# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/
.eggs/

# Excel temporales
~$*

# Compilados / binarios
a.out
*.so

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
